@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clever Schedule</h1>
    <p>The <strong>FUTURE</strong> of scheduling apps.</p>
    <img href="" src="~/img/home.jpg" class="img-fluid" style="max-height: 650px;" />
</div>
